body { background-color: #DCDCDC; }
body { border:8px solid #848484; padding: 4cm 4cm 4cm 4cm; }
p { color: #50504E; }
p.big {line-height:115%}
#paragraph-1{ font-size: 25px; }
#paragraph-1 { font-weight: bold; } 