body { width: 300px; length: 600; padding: 10px; margin: 0px; }
body { background: url(https://scontent-b-iad.xx.fbcdn.net/hphotos-xap1/t31.0-8/10383830_888867944473174_1330007654280771501_o.jpg); }
div { background-no-repeat; }
h1 { color: #476B00; } 
h1 { font-family: 'Anton', sans-serif; }