body { background-color: #CEC88D; }
body { border:10px solid black; padding: 1cm 1cm 1cm 1cm; }
h1 { font-size: 5.5em; color: black; }
p { color: black; }
#paragraph-1{ font-size: 25px; }
#paragraph-1 { font-weight: bold; } h1, h2, h3, h4 { font-family: 'Anton', sans-serif; }
Li { text-decoration: none; list-style: none; color: #660330; }
a { text-decoration: none; color: #660330; 
footer {background-color: #660330; }